
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    
    <title>Home</title>
    <link rel="stylesheet" href="/static/s.css" media="screen">

    <div >
      <img class="logo" src="/static/tianji.png"> <p class="logo-heading">XYZ SPORTS ACADEMY</p>
                <ul class="nav-menu">
                  
                  <li ><a href="/home">Home</a></li>
                    <li class="nav-item"><a href="/about">About</a></li>
                    <li class="nav-item"><a href="/contact">Data</a></li>
                    <li class="nav-item-left"><a href="/signup">Signup</a></li>
                </ul>
              </div>
              <marquee class="marquee">*NEW YEAR OFFER.20% OFF ON ALL SPORTS*</marquee>
          </div>
        </nav>
      </div></header>
  
      <div>
        <h1 class="heading">Sign Up for a Free Trial</h1>
        <img class="heading-image" src="/static/sportscol.jfif">
        <p class="para1" >We will help you get in the best shape of your life thanks to an extensive selection of wellness, group fitness, and personal training options.
        XYZ- an integral part of Ramagya School was founded in 2009 and in a short span has already established itself
            as a prime sports institution in sports area. It has earned a high reputation and utmost popularity for being the best equipped sports 
            academy that offers international facilities in the most congenial atmosphere. Once you enter the sports academy you will experience 
            the latest in group fitness programming and innovating fitness equipment and genuine support of our certified staff that will help you.
           </P>
           
            <p class="para2">
              The academy is excited about providing students training programs in seven elite sports, which have been developed under 
              the mentorship of internationally renowned sports partners.

              XYZ sports partners and coaches are committed to helping student athletes improve their skills, strength and mental 
              preparedness and will push student-athletes to achieve their fullest potential, leveraging proven training techniques 
              and world-class facilities. Corvuss student-athletes will also have opportunities to enrol in technical training camps, 
              competitions and university tours in the US and other countries.
            </p>
            <br>

        <div >
          <div >
            <div >
              <div>
                <div >
                  <div>
                    <div></div>
                  </div>
                  <div >
                    
                     
                      </div>
                    </div>
                  </div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <div>
                      <h3>
                      
                    </div>
                  </div>
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p >
          
        </p>
      </div>
<br>
<br>
    
    
    <div class="page-end">
        <p class="para-end"> 
          Get Directions:<br>           
          School Address<br>
          Karjat Murbad Road, Wadawali,<br>
          Tal Dist Karjat,<br>
          Maharashtra 410201,<br>
          Phone No. : +91-93721 80715<br>
          AN INITIATIVE BY XYZ PVT. LTD.<br>
        </p>
         
          <a class="link" href="https://www.instagram.com/" target="_blank"><img src="/static/instapnglogo.png"></a>
          <a class="link" href="https://www.facebook.com/" target="_blank"><img src="/static/Facebook_icon-icons.com_66805.png"></a>
          <a class="link" href="https://www.twitter.com/" target="_blank"><img src="/static/1491579542-yumminkysocialmedia22_83078.png"></a>
          <p class="link">Follow Us On:</p>
      
      </div>
    
      
  </body>
</html>