.body {
    background-image: url("C:\Users\shryn\OneDrive\Documents\Nicepage Templates\Site1\minimalback.jfif");
}

.nav-menu
{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(138, 128, 128);

}  
.marquee {
    font-family: 'Courier New', Courier, monospace;

}
 a {
    display: block;
    padding: 10px;
    float: left;
   
  }
  .nav-item {
    list-style-type: none;
    display: inline;
  }
  .logo{
      text-align: left;
  }


  .logo-heading {
      float:right;
      font-family: 'Courier New', Courier, monospace;
      font-size: 0.5cm;
      font-style: oblique;

  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }

  .nav-item-left {
      float:right;
  }
  .heading {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
  }

  .heading-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-origin: padding-box;;
  }
  .nav-menu a:hover { 
   
    background-color: #ddd;
    color: black;
  }
  .page-end {
    padding: 50px 16px;
    overflow: hidden;
    color:white;
    background-color: rgb(138, 128, 128);
  }
  .link{
      float:right;
      font-family: 'Courier New', Courier, monospace;
  }

  .para-end{
      float:left;
      font-family: 'Courier New', Courier, monospace;
  }
  .prog-heading {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      

  }
  
  .sports {
    
    display: block;
    color: white;
    text-align: center;
    padding: 44px 6px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(138, 128, 128);
  }
  .sports a:hover { 
   
    background-color: #ddd;
    color: black;
  }
  .para1 {
      font-family: 'Courier New', Courier, monospace;
  }
  .para2 {
      font-family: 'Courier New', Courier, monospace;
  }
  .sports-section {
      font-family: 'Courier New', Courier, monospace;

  }
 .sport-para{
   font-family: 'Courier New', Courier, monospace;
 }
 .sport-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: black;
 }
 .form {
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
     
 }
 
 .about {
     font-family: 'Courier New', Courier, monospace;
 }

 .heading-h2 {
     font-family: 'Courier New', Courier, monospace;
 }
 
 .form{
    background-image: url(wp6751611-white-gradient-wallpapers.jpg)
 }